:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

header {
  background-color: white;
  color: gray;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header a {
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

header a:hover {
  background-color: #f0f0f0;
}

header a.active {
  background-color: #e0e0e0;
}

/* Ensure dropdown is mobile responsive and shifts when going off the screen */
.dropdown-menu {
  right: 0;
  left: auto;
  margin-top: 5px; /* Add some space below the button */
}

@media (max-width: 576px) {
  .dropdown-menu {
    right: auto;
    left: 0;
  }
}

/* Disable text selection and pointer events for email and display name */
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.no-pointer {
  pointer-events: none;
}
